body{
    background-color: rgb(102, 116, 141);
    margin: 0;
}
*{
padding: 0%;
margin: 0%;
font-family: Georgia, 'Times New Roman', Times, serif;
box-sizing: border-box;       
}
.education{
    width: auto;
    padding: 78px 0px;
    background-color: rgb(87, 87, 79);
}
.education image{
    height: auto;
    width: 420px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2417da; 
}
.toplink_right{
    float:right
    padding: 10;
}
section {
    margin: 20px;
    background-color: #8666c0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1, h2, h3{
    color: #333;
    text-align: center;
    padding: 20px
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    background-color: #252c50;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
